* {
    margin: 0px;
    padding: 0px;
    font-family: 'Hanken Grotesk', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

/* ----------------- Results summary component -----------------*/

.section-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-container {
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    box-shadow: 0 2px 2px rgba(17, 0, 255, 0.1), 0 8px 50px rgba(0, 42, 255, 0.1);
}


/* ----------------- Result ----------------- */

.result-container {
    width: calc(100% - 50px);
    height: 100%;
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 30px;
    padding: 50px;
    color: #c6b8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
    margin: 0 auto;
}


.result-number {
    font-weight: 800;
    font-size: 62px;
}

.result-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.result-text-tittle {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.result-text-paragraph {
    font-size: 18px;
    text-align: center;
}

/* ----------------- Summary ----------------- */

.summary-container {
    width: calc(100% - 40px);
    height: 100%;
    border-radius: 30px;
    padding: 40px;
    gap: 26px;
    display: flex;
    flex-direction: column;
    color: hsl(224, 30%, 27%);
}

.skills-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skill {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

#reaction {
    padding: 6%;
    background-color: hsla(0, 100%, 67%, 0.1);
}

#reaction>.skill-tittle{
    color: hsl(0, 100%, 67%);
}

#memory {
    padding: 6%;
    background-color: hsla(39, 100%, 56%, 0.1);
}
#memory>.skill-tittle{
    color: hsl(39, 100%, 56%);
}

#verbal {
    padding: 6%;
    background-color: hsla(166, 100%, 37%, 0.1);
}

#verbal>.skill-tittle{
    color: hsl(166, 100%, 37%);
}

#visual {
    padding: 6%;
    background-color: hsla(234, 85%, 45%, 0.1);  
}

#visual>.skill-tittle{
    color: hsl(234, 85%, 45%);
}

.icon {
    margin-right: 10px;
}

.btn {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    border-radius: 18px;
    padding: 15px 25px;
    background-color: hsl(224, 30%, 27%);
    display: flex;
    justify-content: center;
}

.btn:hover {
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

/* ----------------- Colors ----------------- */

.white-color {
    color: white;
}

.gray-color {
    color: rgb(159, 159, 159);
}

/* ----------------- Footer ----------------- */

footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attribution { 
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
